<body>
  <a href="/">Home</a> <!-- Added Home link -->
  <a href="/car">All Cars</a>
  <h1>Create a New Car</h1>

  <form action="/car" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required />

    <br />

    <label for="isReadyToGo">Ready to Go?</label>
    <input type="checkbox" name="isReadyToGo" id="isReadyToGo" />

    <br />

    <button type="submit">Add Car</button>
  </form>
</body>
