<body>
  <a href="/car">All Cars</a>
  <h1>Create a new Car</h1>

  <form action="/car" method="POST">
    <lebal for="name">Name:</lebal>
    <input type="text" name="name"
    id="name"  >


    <br>
    <label for="isReadyToGo">Ready to Go?</label>
    <input
    type="checkbox"
    name="isReadyToGo"
    id="isReadyToGo" />
    
  <br>
  
  <button type="submit">Add Car</button>
  </form>
</body>